<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <img class="image" src="Tecprime.png">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Produtos</a>
        </li>
      </ul>
      <form class="d-flex align-items-center">
        <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
          <button class="btn btn-outline-primary btn-sm" routerLink="/login" style="margin-right: 5px;">Login</button>
          <button class="btn btn-outline-secondary btn-sm" routerLink="/register" style="margin-right: 15px;">Cadastrar</button>
        </ng-container>
        
        <ng-template #loggedIn>
          <button class="btn btn-outline-danger btn-sm" (click)="logout()" style="margin-right: 15px;">Logout</button>
        </ng-template>

        <!-- Cart icon with counter -->
        <li class="nav-item" style="margin-left: 15px; margin-right: 15px;">
          <a class="nav-link" routerLink="/cart">
            <img class="image_carrinho" src="carrinho_compras.png">
            <span class="badge bg-success">{{ cartItemsCount$ | async }}</span>
          </a>
        </li>
      </form>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>